<div class="footer">
    <div class="container text-center">
      <p>© 2025 Group 54. All Rights Reserved</p>
      <p>
        <i class="bi-github"></i>
        <a href="https://github.com/swyou/CITS5505-G54" target="_blank">GitHub Repository</a>
      </p>
      <p><a href="#top">Back to Top</a></p>
    </div>
</div>

<script>
    window.addEventListener('DOMContentLoaded', () => {
    const flashMessage = document.querySelector('.custom-flash');
    if (flashMessage) {
        setTimeout(() => {
        flashMessage.classList.add('fade-out');
        setTimeout(() => flashMessage.remove(), 1000);
        }, 3000); 
    }
});
</script>